<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href='../../public/assets/css/normalize.css'/>
  <link rel="stylesheet" type="text/css" href='../../public/assets/css/skeleton.css'/>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css'/>
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/nav.css">
  <title>MongoDb Scrapper</title>
</head>
<body>
    {{{body}}}
</body>
</html>