<header>
<a href="/"><h1>Mongodb Scrapper</h1></a>
</header>
<div class="container">
  <div class="row">
    <div class="eight columns offset-by-two">
      <a href="/saved"><div class="btn saved">Saved Articles</div></a>
      <div class="btn scrap-new">Scrape New Articles</div>

    </div>
  </div>
</div>
<footer><div class="container">
  <h6>MongoDB Scrapper</h6>
</div></footer>




<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script type="text/javascript" src="/public/assets/javascript/index.js"></script>
